:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navBar{
  background-color: #fff;
  padding: 20px;
}
.navBar>a{
  margin-right: 10px;
  text-decoration: none;
}
.list-bg{
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item{
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(200, 200, 200);
  border:3px solid silver;
}
.item-list-h4{
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.item-list-p{
  color: #aaa;
  margin: 5px 0px;
}
