# IDE Files
.idea/
*.iml
.classpath
.project
.settings/

# OS Files
.DS_Store
Thumbs.db

# Build artifacts
*.exe
node_modules/
.next/
build/
out/
.gradle/
target/ # Maven 프로젝트를 사용하는 경우 추가

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Environment variables
.env
.env.*
*.properties
*.yml